.filterForm{
    display: inline-block;
}

.filterForm input{
    display: inline-block;
   width: 150px;
   padding: 0 15px;
   border-width: 0;
   line-height: 40px;
   border-radius: 20px;
   color: white;
   background: #333b4d;
}