.paginationAnDFilterWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.tableWrapper {
    
    width: 1100px;
    margin: auto;
}
.table {
	width: 65%;
	border: none;
	margin-bottom: 20px;
	border-collapse: collapse;
    border:0;
    margin-top: 40px;
    margin-bottom: 10px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #272d3a;
	font-size: 20px;
    color: #0aafc4;
    text-shadow: 1.2px 1.2px 3px #c4d661;
    letter-spacing: 1px;
	
}

.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
    color: #0aafc4;
    text-shadow: 1.2px 1.2px 3px #c4d661;
}
.table tbody tr {
	background: #272d3a;
}
.allCharactersWrapper {
    position:relative;

    
}
.allCharacters {
    display:none;
  
    padding:10px;
    margin-top:-110px;
    margin-left: 15px;
    background:#f3f3f3;
    height: auto;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.allCharactersWrapper:hover .allCharacters{
    display:block;
    position:absolute;
    top:120px;
    z-index:9999;
    width:400px;
}