.seeMoreWrapper {
    margin: auto;
    margin-top: 10px;
   
 
}
.seeMore {
   background: #272d3a;
   color: #0aafc4;
   text-shadow: 2px 2px 5px #c4d661;
   border: none;
   padding: 5px;
   font-size: 17px;
}